/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    background: black;
    color: #777;
}

.text-center{
    text-align: center;
}

p {
    color: #777;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1 {
    color: white;
    font-weight: bold;
}

h3 {
    color: white;
}
.brand{
    font-weight: bold;
}

.block {
    padding-top: 55px;
    padding-bottom: 45px;
}

.icons {
    color: #777;
    padding-left: 10px;
    padding-right: 10px;
}
/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.picture {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: 250px;
}

.logo {
    width: 700px;
    height: 300px;
}