<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}

<div class="container block">
	<div class="row">
		<img src="/static/img/mika.jpg" alt="Mika the Mutt" class="picture img-rounded" style="width:250px;height:400px;">
	</div>
	<div class="row col-md-offset-1 col-md-10">
		<h1>About Me
			<small>A little story about me</small>
		</h1>
		<hr>
		<p>I am in my fifth and final year as a Computer Science at the University of Texas at Austin. I like to consider myself a technology enthusiast so I find a lot of computer science topics interesting. More specifically, I enjoy security and networking, mobile development such as Android, and video game development. I am very new to CS so I am still finding my nieche and I am having fun doing it!</p>
		<br>
		<p>If I am not messing around with computers, I am playing with my dog, Mika, or I am enjoying the outdoors with a nice jog. Additionally, I love hanging out with my friends, weight lifting, and playing video games.</p>
		<p>If you would like to see my work-experience, <a href="{{ url_for('work_experience') }}">click here</a>.
		</p><p>If you would like to see my list of projects, <a href="{{ url_for('projects') }}">click here</a>.
		</p><p>If you would like to see my schoolwork, <a href="{{ url_for('school') }}">click here</a>.
		</p><p>Lastly, you can <a href="http://jhw866.github.io">click here</a> for my blog and <a href="/static/docs/resume.pdf">here</a> for my resume.
	</p></div>
</div>
{% endblock %}