<!DOCTYPE html>
<html>
<head>
	<title>Jeremy Wenzel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /> 
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/static/js/bootstrap.js"></script>
</head>

<body>
	<section id="navbarSection">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<a class="navbar-brand brand" href="{{ url_for('index') }}" style="color:white">jwenzel.me</a>
			</div>

			<!-- List of navigational items -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					{% if page=="about_me" %}				
					<li class="active"><a href="{{ url_for('about_me') }}">About Me</a></li>
					{% else %}
					<li><a class= "active" href="{{ url_for('about_me') }}">About Me</a></li>
					{% endif %}

					{% if page=="projects" %}
					<li class="active"><a href="{{ url_for('projects') }}">My Projects</a></li>
					{% else %}
					<li><a href="{{ url_for('projects') }}">My Projects</a></li>
					{% endif %}

					{% if page=="work_experience" %}
					<li class="active"><a href="{{ url_for('work_experience') }}">Work Experience</a></li>
					{% else %}
					<li><a href="{{ url_for('work_experience') }}">Work Experience</a></li>
					{% endif %}

					{% if page=="school"%}
					<li class="active"><a href="{{ url_for('school') }}">School</a></li>
					{% else %}
					<li><a href="{{ url_for('school') }}">School</a></li>
					{% endif %}

					{% if page=="contact_me" %}
					<li class="active"><a href="{{ url_for('contact_me') }}">Contact Me</a></li>
					{% else %}
					<li><a href="{{ url_for('contact_me') }}">Contact Me</a></li>
					{% endif %}

					<li><a href="http://jhw866.github.io">Blog</a></li>

					<li><a href="/static/docs/resume.pdf">Resume</a></li>
				</ul>
			</div>
		</div>
	</nav>
</section>

		{% block content %} {% endblock %}

</body>


</html>