<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}

<div class="container block">	
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h1>Contact Me
				<small>I would love to meet you :)</small>
			</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="text-center">
			<p>You can get in contact with me by <a href="mailto:wenzeljeremy@gmail.com">emailing me.</a></p>
			<br>
			<p>You can also contact me through one of the social media sites below</p>
			<div class="inline">
				<a href="https://www.facebook.com/wenzeljeremy15"><i class="fa fa-facebook-official fa-3x icons"></i></a>
				<a href="https://www.linkedin.com/in/wenzeljeremy"><i class="fa fa-linkedin fa-3x icons"></i></a>
				<a href="https://github.com/jhw866"><i class="fa fa-github fa-3x icons"></i></a>
			</div>
		</div>
	</div>
</div>

{% endblock %}