<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
	<header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Jeremy Wenzel</h1>
            <hr style="max-width: 75%;">
            <h1><small>Computer Science Student at The University of Texas at Austin</small></h1>
            <h1><small>Also Programmer, Avid Gamer, Full Time Nerd</small></h1>
        </div>
    </header>


    <!-- Google Analytics -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73083230-1', 'auto');
	  ga('send', 'pageview');

	</script>
{% endblock %}