<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}

<div class="container block">
	<!-- Git Your Pi -->
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h1>My Projects
				<small>Cool stuff is happening up on in here</small>
			</h1>
			<hr>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-7">
			<img class="img-responsive" src="/static/img/gitpy.JPG" style="width:700px;height:300px;">
		</div>
		<div class="col-md-5">
			<h3>Git Your Pi
				<small>(December 2015 - Present)</small>
			</h3>
			<h4><i>A Lightweight Git Web App</i></h4>
			<p>This project was inspired by not having enough private git repos on <a href="https://github.com">github.com</a>. I also wanted something that was less bulky than <a href="https://about.gitlab.com/">gitlab</a>. Lastly, I wanted something that could be easily run on the <a href="https://www.raspberrypi.org/products/model-b-plus/">raspberry pi</a>. I thought, "What the heck? Just combine it all into one beautiful project!"</p>
			<p>To run efficiently on the Raspberry Pi, I needed a light-weight web framework. After searching, I found that the Flask was the perfect choice. It's light weight, uses MVC architecture for easy and efficent development, and makes coding web pages modular (I love this part). The app uses Python as the backend, HTML with Bootstrap front-end, and SQLite as the database</p>
			<p>However, it is still under development, though you can go see the latest stable version at my <a href="http://dev.jwenzel.me">development site</a>.</p>
			<p>You can also find all the code <a href="https://github.com/jhw866/gitpython">at my github.</a></p>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-7">
			<img class="img-responsive" src="/static/img/home.jpg" style="width:700px; height:300px;">
		</div>
		<div class="col-md-5">
			<h3>My New Home Page
				<small>(January - Febuary 2016)</small>
			</h3>
			<h4><i>A place to show myself off</i></h4>
			<p>My previous site was written in HTML but wasn't modular. If I wanted to make a change to one webpage, it was possible that I would have to go back each other page on the site and fix the same issue.  Needless to say, that was a pain in the neck that made me hate web development.</p>
			<p>And now introducing the jwenzel.me 2.0!!! After discovering how easy the Flask made it to develop web pages quickly, I decided to use it as the framework to drive my update site. And during this project, I gained even more knowledge in HTML instead of having pure hatred for it.</p>
			<p>Everything you see here was written using Flask (aka Python) and HTML with Bootstrap.</p>
			<p>You can find all the code <a href="https://github.com/jhw866/personal-website">at my github.</a></p>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-7">
			<img class="img-responsive" src="/static/img/test.jpg" style="width:700px; height:300px;">
		</div>
		<div class="col-md-5">
			<h3>Linux Background Changer
				<small>(January 2016)</small>
			</h3>
			<h4><i>Because only 1 image is just too boring</i></h4>
			<p>The inspiration for this project stemmed from the fact that I was tired of seeing the same desktop image in Ubuntu/Mint Linux. I love in Windows how a user can pick a album or folder and the OS will change backgrounds every so often. I wondered, "Why can't we have this lovely feature in Linux?"</p>
			<p>Python to the rescue!!! I always wanted to mess around with Python and this was the perfect project to implement it. Python has such a wonderful library for interacting with the OS, making grabbing images and displaying them desktop.</p>
			<p>You can find all the code <a href="https://github.com/jhw866/Linux-Background-Changer">at my github.</a></p>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-7">
			<img class="img-responsive" src="/static/img/cuda.jpg" style="width:700px; height:300px;">
		</div>
		<div class="col-md-5">
			<h3>FIR Loop on Raw Audio using GPU/CPU
				<small>(November - December 2014)</small>
			</h3>
			<h4><i>Play that funky music white boy</i></h4>
			<p>An extension of a project I did while in my Programming for Performance class. We were tasked with using an FIR Filter on raw audio using Intel Intrinsics. By applying this filter, it is possible to change a sounds direction.</p>
			<p>As an extension to the project, I decided to replicate the program using a GPU instead (in my case Nvidia 660) and then compared the results which showed that the GPU had a 4x better time performance. The GPU was programmed using C++ and CUDA, and the CPU was programmed using C++ with Intel Intrinsics.</p>
			<p><a href="https://github.com/jhw866/FIR-Loop-GPU">GPU Code</a></p>
			<p><a href="https://github.com/jhw866/FIR-Loop-CPU-Single-Threaded">CPU Code</a></p>
		</div>
	</div>
</div>

{% endblock %}