<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}

<div class="container block">
	<div class="row container-fluid">
		<div class="row col-md-offset-1 col-md-10">
			<h1>School
				<small>CS courses taken at UT Austin</small>
			</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="row col-md-offset-2 col-md-6">
			<h3>Fall 2012</h3>
			<ul>
				<li>CS 312: Introduction to Programming</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 313: Logic, Sets, and Function</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Spring 2013</h3>
			<ul>
				<li>CS 314: Data Structures</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Fall 2013</h3>
			<ul>
				<li>CS 429: Computer Organization and Architecture</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Spring 2014</h3>
			<ul>
				<li>CS 439: Principles of Computer Systems</li>
				<!-- ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Fall 2014</h3>
			<ul>
				<li>CS 331: Algorithms and Complexity</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 378: Programming from Performance</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Spring 2015</h3>
			<ul>
				<li>CS 347: Data Management (Databases)</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 361C: Information Assurance and Security</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Fall 2015</h3>
			<ul>
				<li>CS 361S: Network Security and Privacy</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 361: Intro to Computer Security</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 371P: Object-Oriented Programming</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
			<h3>Spring 2016 (Currently in progress)</h3>
			<ul>
				<li>CS 354R: Game Technology</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 371M: Mobile Computing</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
				<li>CS 109: Competitive Programming</li>
				<!-- <ul style="list-style-type: square;">
					<li>Some info about class</li>
				</ul> -->
			</ul>
		</div>
	</div>
</div>
{% endblock %}