<!-- Extends base.html -->
{% extends "base.html" %}

{% block content %}
<div class="container block">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<h1>Work Experience
				<small>Working for cool companies</small>
			</h1>
			<hr>
		</div>
	</div>
	<div class="row block">
		<div class="col-md-7">
			<img class="img-responsive logo" src="/static/img/nfp_logo.png">
		</div>
		<div class="col-md-5">
			<h3>National Financial Partners (NFP)
				<small>(May 2015 - August 2015</small>
			</h3>
			<p>My first industry work experience and I loved it. While at NFP I had the pleasure to work the Support Team. I was tasked with taking support tickets sent in by clients or by intenal employee and resolving bugs they may have encountered. Bugs ranged from SQL updates, to fixing bugs in C# backend, to resolving Javascript frontend problems.</p>
			<p>I also collaberated with fellow interns on an internal project called Budget Track. The current version of the application was out of date and we were tasked with coming up with a elegant and modern solution.</p>
		</div>
	</div>
</div>

{% endblock %}